dontaudit system_app proc_pagetypeinfo:file { read open getattr };
dontaudit system_app sysfs_zram:dir search;
dontaudit system_app sysfs_zram:file { read open getattr };
